.vs/

build_x86/
build_x64/

libraries/*.zip

libraries/glfw-3.3.7.bin.WIN32/lib-mingw*/
libraries/glfw-3.3.7.bin.WIN64/lib-mingw*/

libraries/glfw-3.3.7.bin.WIN32/lib-static*/
libraries/glfw-3.3.7.bin.WIN64/lib-static*/

libraries/glfw-3.3.7.bin.WIN32/lib-vc2010/
libraries/glfw-3.3.7.bin.WIN32/lib-vc2012/
libraries/glfw-3.3.7.bin.WIN32/lib-vc2013/
libraries/glfw-3.3.7.bin.WIN32/lib-vc2015/
libraries/glfw-3.3.7.bin.WIN32/lib-vc2017/
libraries/glfw-3.3.7.bin.WIN32/lib-vc2022/

libraries/glfw-3.3.7.bin.WIN64/lib-vc2010/
libraries/glfw-3.3.7.bin.WIN64/lib-vc2012/
libraries/glfw-3.3.7.bin.WIN64/lib-vc2013/
libraries/glfw-3.3.7.bin.WIN64/lib-vc2015/
libraries/glfw-3.3.7.bin.WIN64/lib-vc2017/
libraries/glfw-3.3.7.bin.WIN64/lib-vc2022/

libraries/glfw-3.3.7.bin.WIN32/docs/
libraries/glfw-3.3.7.bin.WIN64/docs/

libraries/glm-0.9.9.8/cmake/
libraries/glm-0.9.9.8/doc/
libraries/glm-0.9.9.8/test/

libraries/glm-0.9.9.8/.appveyor.yml
libraries/glm-0.9.9.8/.travis.yml

libraries/glm-0.9.9.8/manual.md

libraries/glm-0.9.9.8/CMakeLists.txt

libraries/stb-master/.github

libraries/stb-master/data
libraries/stb-master/tools
libraries/stb-master/tests
libraries/stb-master/docs
libraries/stb-master/deprecated

libraries/*/.travis.yml


*.vcxproj.*

