.vs/

build_x86/
build_x64/

libraries/*.zip

libraries/glfw-3.3.7.bin.WIN32/lib-mingw*/
libraries/glfw-3.3.7.bin.WIN64/lib-mingw*/

libraries/glfw-3.3.7.bin.WIN32/lib-static*/
libraries/glfw-3.3.7.bin.WIN64/lib-static*/

libraries/glfw-3.3.7.bin.WIN32/lib-vc2010/
libraries/glfw-3.3.7.bin.WIN32/lib-vc2012/
libraries/glfw-3.3.7.bin.WIN32/lib-vc2013/
libraries/glfw-3.3.7.bin.WIN32/lib-vc2015/
libraries/glfw-3.3.7.bin.WIN32/lib-vc2017/
libraries/glfw-3.3.7.bin.WIN32/lib-vc2022/

libraries/glfw-3.3.7.bin.WIN64/lib-vc2010/
libraries/glfw-3.3.7.bin.WIN64/lib-vc2012/
libraries/glfw-3.3.7.bin.WIN64/lib-vc2013/
libraries/glfw-3.3.7.bin.WIN64/lib-vc2015/
libraries/glfw-3.3.7.bin.WIN64/lib-vc2017/
libraries/glfw-3.3.7.bin.WIN64/lib-vc2022/

libraries/glfw-3.3.7.bin.WIN32/docs/
libraries/glfw-3.3.7.bin.WIN64/docs/

*.vcxproj.*

